/*color palette*/
.container-fluid {
  height: 100vh;
  background-color: pink;
  padding-top: 10px;
}
.container {
  width: 768px;
}
.bg-black {
  background-color: #000;
}

.bg-lightgray {
  background-color: #dad6d7;
}

.bg-graypurple {
  background-color: #6d6e82;
}

.bg-darkgray {
  background-color: #424242;
}
.bg-screen {
  background-color: #8bac0f;
}

.col {
  height: 35px;
}
